<html>
<nav class="navbar navbar-expand-sm  ">
  <ul class=" navbar-nav me-auto mb-lg-0">
    <li class=" nav-itelm">
      <a class="nav-link" routerLink="homePage"><h1>Home</h1></a>
    </li>
    <li class=" nav-itelm">
      <a class="nav-link" routerLink="rezervation"><h1>Rezervation</h1></a>
    </li>
  </ul>
  <img src= "assets/img/Company_Logo-removebg-preview.png" alt="Restaurant Logo" class="center">

    <a class="nav-link" routerLink="meniu"><h1>Menu</h1></a>
    <a class="nav-link" routerLink="costumers"> <h1>Customers</h1></a>
 
</nav>

<div class="container" >
    <router-outlet></router-outlet>
</div>
<body>
  
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav  class="navbar navbar-expand-sm " style="background-color: #e3f2fd;">
  <ul class=" navbar-nav me-auto mb-lg-0">
    <li class=" nav-itelm">
      <img src= "assets/img/reviews2.png" alt="Reviews" style="width:150px;height:150px">
    </li>

    <li class=" nav-itelm">
      <a class="nav-link" ><h2>Contact Us</h2></a>
    </li>
    <li class=" nav-itelm">
      <a class="nav-link" ><h2>About Us</h2></a>
    </li>
    <li class=" nav-itelm">
      <a class="nav-link" ><h2>Oportunities</h2></a>
    </li>

  </ul>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
  <img src= "assets/img/reviews1.png" alt="Reviews1" style="width:150px;height:150px">
</nav>
</html>



