*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  display: flex;
  justify-self: center;
  align-items:center ;
  min-height: 10vh;
}

.wrapper{
  margin: 150px auto;
  width: 70%;
}

img{
  max-width: 500px;
  float:left;
  border: 3px solid black;
  border-radius: 0;
}

.text-box{
  color: white;

}
.text-box h2{
  font-size: 43px;

}

.text-box p{
  font-size: 16px;
  
}


#myVideo {
display: block;
margin-left: 0;
margin-right: 0;
max-width: 100%;
margin-top: auto;
margin-bottom: auto;

}